*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc

*.png
*.jpg
*.jpeg
*.gif
*.svg

*.ico
*.icns

*.agx

*.ttf
*.otf

*.docx
*.doc
*.pdf

contents.txt

__pycache__/
*.pyc
*.zip
*.pkg
*.pyz

build/*

build/main/warn-main.txt
build/main/xref-main.html

dist/*

*.exe

*.html

cumcm/*

ques_solving_code/*

test/*

mcmaa_tk/build/main/warn-main.txt
