*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc

*.png
*.jpg
*.jpeg
*.gif
*.svg

*.ico
*.icns

*.agx

*.ttf
*.otf

*.docx
*.doc
*.pdf

contents.txt

# Python 相关
__pycache__/
*.pyc
*.zip
*.pkg
*.pyz
build/main/warn-main.txt
build/main/xref-main.html
*.exe